.loader{
  display:flex;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition:all 0.4s;
}
.loader div{
  width:7px;
  height:60px;
  margin-left:5px;
  border-radius: 50px;
}
.load1{
  background:#4285F4;
  animation:load 1s infinite;
  animation-delay:0.1s;
}
.load2{
  background:#DB4437;
  animation:load 1s infinite;
  animation-delay:0.2s;
}
.load4{
        background-color:#0F9058;
        animate:scaleis infinite;
        animation-delay:0.3s;
}
@keyframes scale{
        0%,
        40%,
        100%{
          transform:scaleY(0,1);
        }
        20%{
          transform:scaleY(1);
        }
}
