.loader{
  display:flex;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition:all 0.4s;
}
.loader div{
  width:7px;
  height:60px;
  margin-left:5px;
  border-radius: 50px;
}
